<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>TaskManager</title>
    <script src="https://kit.fontawesome.com/fa27dc6c20.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <header>
        <div class="logo-container">
            <div class="box1"></div>
            <div class="box2"></div>
        </div>
    </header>

    <main id="container">
        
    </main>

    <footer>@meabefir</footer>

</body>
<script src="../public/scripts/index.js"></script>
</html>